<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Transactions</title>
    <script src="./js/angular.min.js"></script>
    <script src="./js/_mybankAPIgateway.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
</head>

<body ng-app="_mybankAPIgateway" ng-controller="_mybankAPIgatewayController">
    <!--nav bar starts here -->
<nav>
    <div class="nav-wrapper cyan darken-3">
      <a href= "mybank.html" class="brand-logo" style="margin-left: 15px;">Digital Bank</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><a href="http://localhost:8081/customer.html" style="font-size: 20px;">Customer</a></li>
        <li><a href="http://localhost:8082/accounts.html" style="font-size: 20px;">Accounts</a></li>
        <li><a href="http://localhost:8083/transactions.html" style="font-size: 20px;">Transactions</a></li>
      </ul>
    </div>
 </nav>
 

 <!-- nav bar ends here-->

 <!-- Transactions -->
 <h1 style="text-align: center; font-family: 'Quicksand', sans-serif;"> Transactions </h1>

 <!-- inputs for form starts here -->

 <div class="row" align="center">
    <form class="col s12" id="frm" name="frm">
      <div class="row">
        
        <div class="input-field col s4">
          <i class="material-icons prefix">account_circle</i>
          <input id="idsender" class="validate" type="text" name="idsender" ng-model="form.transactions.idsender">
          <label for="icon_prefix">Sender's ID </label>
        </div>
        
        <div class="input-field col s4">
          <i class="material-icons prefix">account_circle</i>
          <input id="idreceiver" type="text" name="idreceiver" ng-model="form.transactions.idreceiver"  class="validate">
          <label for="icon_telephone">Receiver's ID</label>
        </div>
      
        <div class="input-field col s4">
          <i class="material-icons prefix">account_balance_wallet</i>
          <input id="transferamount" type="text" name="transferamount" ng-model="form.transactions.transferamount" class="validate">
          <label for="icon_telephone">Amount</label>
        </div>
      

      </div>
      <br>

      <!--Button Group -->
    <div class="btn-group" role="submit" aria-label="Submit Buttons" align="center">

        <button name="btnselect" ng-click="data.transactions.selectquery();" class="waves-effect waves-light btn-large cyan darken-3"><i class="material-icons left">toc</i>View Transactions</button>

        <button class="waves-effect waves-light btn-large cyan darken-3" name="btninsert" ng-click="data.transactions.insertquery();"><i class="material-icons left">add</i>New Transaction</button>

    </div>
<br><br>
    </form>
</div>

    <!-- card starts here -->
    <div class="container" align="center"  ng-if="data.queryresponse.length > 0">
        <div class="row">
            <div class="col s12 m12">
                <div class="card cyan darken-3">
                    <div class="card-content white-text">
                        <span class="card-title">List of Transactions</span>
                    </div>
                    <table class="striped centered cyan darken-3 white-text">
                    <thead>
                        <tr>
                        <th scope="col" class="text-center">Transaction ID</th>
                        <th scope="col" class="text-center">Sender ID</th>
                        <th scope="col" class="text-center">Receiver ID</th>
                        <th scope="col" class="text-center">Amount</th>
                        <th scope="col" class="text-center">Transaction Date</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="transactions in data.queryresponse">
                        <td scope="col" class="text-center">{{transactions._id}}</td>
                        <td class="text-center">{{transactions.idsender}}</td>
                        <td class="text-center">{{transactions.idreceiver}}</td>
                        <td class="text-center">{{transactions.transferamount}}</td>
                        <td class="text-center">{{transactions.createdate}}</td>
                    </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  </body>
  </html>